@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 text-stone-800 transition-colors duration-300;
  }
}

.tw-input {
  @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:ring focus:ring-yellow-400 focus:outline-none md:px-6 md:py-3 bg-white text-stone-800;
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  height: 117px;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ff8001;    
  box-shadow: 0 0 0 50px;
  clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);;
}
.loader:after {
  animation: l8 1s infinite;
  transform: perspective(300px) translateZ(0px)
}
@keyframes l8 {
  to {transform:perspective(300px) translateZ(180px);opacity:0}
}
